div.marg{
    border: 1px dotted blue;
    /* padding: 10px; */
    margin: 10px;
    /* demonstration margin or padding; */
    margin-top: 10px;
    margin-right:15px;
    margin-bottom:20px;
    margin-left:25px;
}