* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: cursive;
  font-size: 92.5%;
}
#header {
  padding: 30px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  background-color: rgba(47, 95, 95, 0.9);
}
#topic {
  font-size: 2.3rem;
  font-weight: 700;
  color: rgba(127, 255, 0, 0.8);
  transition: 1s color ease-in-out;
}
#header:hover #topic {
  color: rgba(135, 20, 14, 0.9);
}
footer {
  padding: 30px;
  color: rgb(255, 255, 0, 0.6);
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
